fieldset {
    display: block;
    width: 5em;
    margin: 1em;
    padding: 1em;
    border: solid 1px black;
}

body {
    background-color: pink;
}

div.car {
    border: red solid 2px;
    margin: 15px;
    width: 200px;
    align-items: center; 
    
}

#divContainer {
    text-align: right;
}